<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 form-container">
        <div class="row form-row">
          <div class="col-lg-5 form-image"></div>
          <div class="col-lg-7 info-container bg-dark">
            <div class="logo-image-container">
              <img
                src="../../../assets/images/red_note.png"
                alt=""
                class="logo-image img-fluid w-75"
              />
            </div>
            <app-login-form></app-login-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
