<header>
  <nav class="top-menu navbar navbar-dark bg-dark fixed-top">
    <a href="#" class="navbar-brand">KyBlogz'</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"></li>
    </ul>
    <div class="notifications-container">
      <ul class="navbar navbar-nav flex-row">
        <li class="nav-item">
          <span class="badge badge-danger"
            ><i class="fas fa-bell text-white mr-2"></i>12</span
          >
        </li>
        <li class="nav-item">
          <span class="badge badge-danger"
            ><i class="fas fa-inbox text-white mr-2"></i>21</span
          >
        </li>
      </ul>
    </div>
    <div class="dropdown show">
      <a
        href=""
        class="dropdown-toggle text-white"
        href="#"
        role="button"
        id="dropdownMenu"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Usuário</a
      >
      <div
        class="notifications-dropdown dropdown-menu"
        aria-labelledby="dropdownMenu"
      >
        <a class="dropdown-item"> <i class="fas fa-cog"></i> Definições</a>
        <a class="dropdown-item"> <i class="fas fa-sign-out-alt"></i> Sair</a>
      </div>
    </div>
  </nav>
</header>
